a {
    color: black;
    text-decoration: none;
}

.pink-background{
    background-color: hotpink;
}

p{
    background-color: green;
}

#my-name{
    color: gold;
    background-color: teal;
    padding: 10px;
}